@charset "UTF-8";
p{
    text-align:justify;
    text-indent: 50px;
}

body{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.966);
}

header#cabecalho img#icone{
    position:absolute;
    left: 950px;
    top: 70px;
}

div#interface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}


header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 170px;
    background: url(_imagens/glass-logo-peq.jpg)no-repeat 0px 100px; /*A imagem não é replicada por todo o objeto/container cabeçalho*/
}

header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px regba(0,0,0,.6);
    padding:0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: Arial, sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* Formtação de imagens com legendas */

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black; /*sombra*/
}

figure.foto-legenda img{
    width:100%; /*largura da imagem*/
    height:100%; /*altura da imagem*/
}

figure.foto-legenda figcaption{
    opacity:0; /*Escondendo a legenda*/
    position: absolute; /*Posição da legenda da imagem*/
    top: 0px;
    background-color: rgba(39, 31, 31, 0.199);
    color: white;
    width: 100%; /*Colocar a legenda para ocupar toda a imagem*/
    height: 100%;
    padding: 10px; /*Espaçamento de palavras da legenda*/
    box-sizing: border-box; /*utilizar essa tag pq a legenda ultrapassou a borda da imagem. Cria um box dentro da borda*/
    transition: opacity 1s;
}
 
/*Fazer a legenda preta opaca aparecer qd o mouse passar sobre a imagem acima*/
figure.foto-legenda:hover figcaption{
    opacity:1;
}


/*----------------------------------------- Formatação do menu*-------------------------------------*/

/*Fazer com que o menu nav sejá tratado como um bloco, pois um bloco pode ser movimentar em qlqr área do site*/
nav#menu{
    display: block; /*Essa propriedade faz com que elemento se comporte como um bloco, oupando praticamente toda a largura disponível na página*/
}

nav#menu ul{
    list-style: none; /*retira os marcadores da marcação da lista*/
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li{
    display: inline-block; /*O elmento é tratado como um bloco e pode ser outros blocos ao lado dele*/
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu h1{
    display:none; /*faz com que o elemento e seus filhos não sejam renderizados na pag web*/
}

/*Efeito que aparecerá qd mover o mouse por cima do li*/
nav#menu li:hover{
    background-color: #606060; 
}

/*Mudar a cor do link*/
nav#menu a{
    color: black;
    text-decoration: none;
}

/*Mudar a cor do link qd o mouse passar por cima*/
nav#menu a:hover{
    color: white;
    text-decoration: underline;
}




