@charset "UTF-8";
p{
    text-align:justify;
    text-indent: 50px;
}

body{
    background-color:white;
    color: rgba(0, 0, 0, 0.966);
}

hgroup{
    text-align:center;
    line-height: 0.5em;

}

/* Formtação de imagens com legendas */

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black; /*sombra*/
}

figure.foto-legenda img{
    width:100%; /*largura da imagem*/
    height:100%; /*altura da imagem*/
}

figure.foto-legenda figcaption{
    opacity:0; /*Escondendo a legenda*/
    position: absolute; /*Posição da legenda da imagem*/
    top: 0px;
    background-color: rgba(134, 83, 83, 0.4);
    color: white;
    width: 100%; /*Colocar a legenda para ocupar toda a imagem*/
    height: 100%;
    padding: 10px; /*Espaçamento de palavras da legenda*/
    box-sizing: border-box; /*utilizar essa tag pq a legenda ultrapassou a borda da imagem. Cria um box dentro da borda*/
    transition: opacity 1s;
}
 
/*Fazer a legenda preta opaca aparecer qd o mouse passar sobre a imagem acima*/
figure.foto-legenda:hover figcaption{
    opacity:1;
}