@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}

iframe#frame-specs{
    width: 380px;
    height: 280px;
    border: 0;
    overflow: hidden;
}

iframe#frame-specs::-webkit-scrollbar {
    display: none;
}